<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <br>
            <label for="studentName">Student Name:</label>
            <input type="text" class="form-control" id="studentName" name="projectId" value="{{this.id}}" hidden>
            <input type="text" class="form-control" id="studentName" name="student_name" placeholder="Enter Your Name">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <br>
            
            <label for="department">Departments:</label>
           <select name="department" id="department" class="form-select">
    <option value="" disabled selected style="display: none;">Select</option>
    <option value="CS">CS</option>
    <option value="IT">IT</option>
    <option value="Mechanical">Mechanical</option>
    <option value="Civil">Civil</option>
    <option value="Electrical">Electrical</option>
</select>


        </div>
    </div>
</div>

<div class="text-center">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>
