  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.project_name}}" placeholder="Name" name="project_name">
      <label for="floatingInput">Project Name</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="date" class="form-control" id="floatingInput" value="{{this.Project_Date}}" placeholder="number" name="Project_Date">
      <label for="floatingInput">Project Date</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.Project_Link}}" placeholder="text" name="Project_Link">
      <label for="floatingInput">Project Link</label>
    </div>
  </div>
   <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.Project_Guide}}" placeholder="text" name="Project_Guide">
      <label for="floatingInput">Project Guide</label>
    </div>
  </div>
 <div class="row justify-content-center">
  <div class="col-auto">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</div>
